<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KUchat localhost</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<!--layout/header-->
<h1> KUchat localhost </h1>

<div id="user-info">
    <div th:if="${member != null}">
        <p th:text="'member name : ' + ${member.name}"></p>
        <p>Logged in as: <span th:text="'ID : ' + ${member.id} + ' 회원이 로그인 된 상태입니다.'"></span></p>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        <a href="/ws/message" class="btn btn-primary active" role="button">채팅 참여하기</a>
    </div>

    <!-- member 객체가 없을 때 -->
    <div th:unless="${member != null}">
        <p>로그인되지 않은 상태입니다. 로그인 후 이용해 주세요.</p>
        <a href="/oauth2/authorization/google" class="btn btn-sm btn-success active" role="button">Google Login</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
